<nav>
  <ul>
    <li>
      <a href="/">
        <span>Trainers</span>
      </a>
    </li>
    <li>
      <a href="/types">
        <span>Types</span>
      </a>
    </li>
    <li>
      <a href="/pokemon">
        <span>Pokemon</span>
      </a>
    </li>
  </ul>
</nav>
