<!DOCTYPE html>
<html lang="en">
<%- include("partials/head"); %>
<body>
  <%- include("partials/navbar"); %>
  <h1>Trainers</h1>
  <a href="/trainers/new">Create trainer</a>
  <main>
    <% trainers.forEach(trainer => { %>
      <div>
        <span><%= trainer.name %></span>
        <a href="/trainers/<%= trainer.id %>">View</a>
      </div>
    <% }); %>
  </main>
</body>
</html>
