<!DOCTYPE html>
<html lang="en">
<%- include("partials/head"); %>
<body>
  <%- include("partials/navbar"); %>
  <h1>New trainer</h1>
  <a href="/">Back to Trainers</a>
  <main>
    <%- include("partials/errors.ejs") %>
    <form action="/trainers/create" method="POST">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" required>
      <button type="submit">Submit</button>
      <p>You can add pokemon after creating the trainer</p>
    </form>
  </main>
</body>
</html>