<!DOCTYPE html>
<html lang="en">
<%- include("partials/head"); %>
<body>
  <%- include("partials/navbar"); %>
  <h1>Types</h1>
  <main>
    <% types.forEach(type => { %>
      <div>
        <span><%= type.type %></span>
        <a href="/types/<%= type.id %>">View</a>
      </div>
    <% }); %>
  </main>
</body>
</html>
